# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# 全てのファイルに適用されるデフォルト設定
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true

# JavaScript / TypeScript (メインのソースコード)
[*.{js,ts,jsx,tsx}]
indent_size = 4

# HTML
[*.html]
indent_size = 4

# CSS / SCSS
[*.{css,scss,sass}]
indent_size = 2

# JSON / YAML
[*.{json,yml,yaml}]
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false

# Config files (2スペースインデント)
[*.config.{js,ts,mjs}]
indent_size = 2

# Makefile
[Makefile]
indent_style = tab
